doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon' href='favicon/favicon.ico')
  link(rel='stylesheet' href='css/style.bundle.css')
  link(href="http://www.inglobal.ru/fonts/inglobal.css" type="text/css" rel="stylesheet")
  title
header.page-header.page__container
  a.page-header__logo(href='index.html')
    picture
      source(media='(min-width: 1440px)', srcset='img/logo-desktop.svg')
      source(media='(min-width: 768px)', srcset='img/logo-tablet.svg')
      img.page-header__logo-image(src='img/logo_mobile.svg', alt='Логотип')
  nav.nav.nav--opened
    button.nav__toggle(type='button')
      span.visually-hidden Открыть меню
    .nav__wrapper
      ul.nav__list
        li.nav__item.nav__item--active
          a.nav__link(href='#')
          svg
            use(xlink:href="#home")
          | Описание услуги
        li.nav__item
          a.nav__link(href='#')
          svg
            use(xlink:href="#home")
          | Зачем мне это?
        li.nav__item
          a.nav__link(href='#')
          svg
            use(xlink:href="#home")
          | Почему мы?
        li.nav__item
          a.nav__link(href='#')
          svg
            use(xlink:href="#home")
          | А что есть?
        li.nav__item
          a.nav__link(href='#')
          svg
            use(xlink:href="#home")
          | А где?
  section.banner
    img(src="" alt="Что то там")
    .line Крути вниз







